@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #464646;
}

img {
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}
// You can also use partials!
@import 'partials/heading';
